.topbar {
  height: 60px;
  position: fixed;
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.mainContent {
  padding-top: 80px;
  min-height: 100vh;
  background-color: #112233;
  color: white;
}

.black {
  color: black
}

.white {
  color: white
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}